<form class="card" [formGroup]="form" (ngSubmit)="submit()" >
  <h2>Login</h2>
  <div class="alert alert-info" *ngIf="message">
    {{message}}
  </div>
  <div
    class="form-control"
    [ngClass]="{invalid: form.get('login').touched && form.get('login').invalid}"
  >
    <label for="login">Login</label>
    <input id="login" type="login" formControlName="login">

    <div
      *ngIf="form.get('login').touched && form.get('login').invalid"
      class="validation">
      <small *ngIf="form.get('login').errors.required">
        Fill login input
      </small>
      <small *ngIf="form.get('login').errors.email">
        Check login input
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
  >
    <label for="password">PASSWORD</label>
    <input id="password" type="password" formControlName="password">
    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation"

    >
      <small *ngIf="form.get('password').errors.required">
        Fill password input
      </small>
      <small *ngIf="form.get('password').errors.minlength">
        Password must contain more than
        {{form.get('password').errors.minlength.requiredLength}}
        symbols
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid"
  >
    SUBMIT
  </button>

</form>
